body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #fff5e4;
  color: #bc64ce;
}
#activityquestion {
  font-size: 50px;
  margin-bottom: 30px;
}
.activity-item {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  color: #e990f3;
}
.activity-item img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #f8c4fe;
  object-fit: cover;
  padding: 10px;
}
.activity-item label {
  display: block;
}
.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #f7e1ff;
  color: #e883f3;
  border-radius: 12px;
  border: 2px solid #efccfc;
}
